.form{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 10%;
    margin-left: 25%;
    border: solid black;
}
.hidden{
    display: none;
}

table{
    text-align: center;
}

tr{
    cursor: pointer;
}